@charset "UTF-8";

html, body {
	height: 100%;
}

#top_left_logo{
	height: 2.5em;
}

#foreclosed_heading{
	float: left;
}

#HAMP_title {
	clear: both;
}

.wrapper {
	clear:both;
	min-height: 100%;
	height: 100%;
	height: auto;
	margin: 0 auto -4em;
}

#content {
	clear: both;
}

#page_title { 
	clear:both;
}


.footer, #push{
	height: 4em;
}
