<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<link href="/index.css" rel="stylesheet" type="text/css">
<head>
    <title>Foreclosed {% block page_title %}{% endblock %}</title>
	<!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    
	{% block javascript_base_function %}{% endblock %} 
      </script> 

</head>
<body>
	<div class = "wrapper">
	    <div id="logo_device">
		<a href="/foreclosed"><h1 id="foreclosed_heading">Foreclosed</h1></a>
		<img id="top_left_logo" src="/foreclosed_logo.png">
	     </div>
	     <h2 id = "page_heading">
		{% block page_heading %}{% endblock %}
	     </h2>
	     <div id = "content">
	     {% block content %}{% endblock %}
	     </div>
	     <div id="push"></div>
	</div>
	<div class = "footer">
	    <hr>
	    {% block footer %}
	    <p>Site created as a BU CS673 final project.</p>
	    {% endblock %}
	</div>
</body>
</html>
