{% extends "base.html" %}
{% load foreclosed_extras %}
{% block title %}
Lead Generation Leads
{% endblock %}
{% block page_heading %}
Lead Generation Leads
{% endblock %}
{% block content %}
{% if leads %}
	<TABLE>
	<TR>
	<TH>Address</TH>
	<TH>City, State, ZIP</TH>
	<TH>Amount Owed</TH>
	<TH>Date Added</TH>
		{% for lead in leads %}
			<tr> 
			<td>{{ lead.address.street_address }}</td>
			<td>{{ lead.address.city_state_zip }}</td>
			<td> {{ lead.amount_owed|currency }}</td>
			<td>{{ lead.date_collected|date:"j N Y" }}</td>
			</tr>
		{% endfor %}
	</TABLE>
{% else %}
	<p>No Leads Available.</p>
{% endif %}
{% endblock %}
